body{
    margin: 0;
    padding: 0;
    background-color: white;
}
h1,p{
    display: flex;
    justify-content: center;
}
p{
    margin-top: 50px;
}
li{ 
    position: relative;
    display: inline-flex;
    margin-left: 50px;
    padding: 20px;  
}

nav{
    display: flex;
    justify-content: center;
}
li:hover{
    background-color: aqua;
}
a{
     text-decoration: none;
     color:black;
}
#contact{
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    margin-left: 40%;
    width: 350px;
    height: 370px;
    display: block;
    border: 1px solid black;
    border-style: none;
    box-shadow: 5px 5px 15px gray;
    
    margin-bottom: 10px;


    
}
.contacter{
    display: flex;
    justify-content: center;
}
.label{
    
    padding-left: 20px;
    color: black;
}
.input{
    margin-top: 10px;
    margin-left: 20px;
    width: 280px;
    height: 30px;
}
.envoyer{
    margin: 20px ;
    width: 288px;
    height: 30px;
}
.copyright{
    margin-left: 130px;
    margin-top: -0.1px;
}
input:invalid {
    border: 2px solid red !important;
}
textarea:invalid {
    border: 2px solid red !important;
}