body
{
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
background-image: url('background.jpg');
}
li{
    font-weight: bolder;
    color: rgb(39, 38, 38);
}
#entete{
    color: white;
    font-size: 50px;
    padding-left: 40px;
}
#illustrations{
    display: flex;
    justify-content: center;
    gap: 40px;
}

img{
    width: 390px;
    height: 250px;
    display: block;
    border: 4px solid white;
    box-shadow: 0px 0px 20px black ;
    border-radius: 20px;
}
#milieu{
    display: flex;
    
}
#principal{
    width: 62%;
    margin-top: 70px;
    margin-left: 40px;
    background-color: #e7e6e6;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    line-height: 1.5;
    color: #555555;
}
#principal p{
 font-size: 23px;
 color: black;
}
#plus{
    position: relative;
    text-align: right;
}
#plus a{
    color: black;
}
#navigation {
    width: 210px;
   margin-top: 70px;
   margin-left: 190px;
   border-style: none;
   box-shadow: 0 , 5px , 4px , rgb(245, 244, 244);
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    
}

#navigation li {
    border: 1px solid white;    
}

#navigation a {
    display: block;
    padding: 23px 15px;
    /*background-color: rgba(235, 235, 235, 0.986);*/
    background: linear-gradient(rgba(235, 235, 235, 0.9),url('background.jpg'));
    text-decoration: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    color: black;
    border-style: none;
    
}
footer{
    width: 94%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color:rgb(206, 203, 203);
    margin-top: 70px;
    margin-left: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
}
footer p{
    text-align: center;
    
}
footer p a{
    color: #555555;
}
footer p span{
    color: #555555;
}
